<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>网站后台管理系统</title>
    <link rel="shortcut icon" href="/images/favicon.ico"/>
    <link href="/css/css.css" type="text/css" rel="stylesheet"/>
    <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
</head>
<!--框架样式-->
<frameset rows="95,*,30" cols="*" frameborder="no" border="0" framespacing="0">
    <!--top样式-->
    <frame src="./top" name="topframe" scrolling="no" noresize="noresize" id="topframe" title="topframe"/>
    <!--contact样式-->
    <frameset id="attachucp" framespacing="0" border="0" frameborder="no" cols="194,12,*" rows="*">
        <frame scrolling="auto" noresize="" frameborder="no" name="leftFrame" src="./left"/>
        <frame id="leftbar" scrolling="no" noresize="" name="switchFrame" src="./swich"/>
        <frame scrolling="auto" noresize="" border="0" name="mainFrame" src="http://www.yuncaijing.com/insider/simple.html"/>
    </frameset>
    <!--bottom样式-->
    <frame src="./bottom" name="bottomFrame" scrolling="no" noresize="noresize" id="bottomFrame" title="bottomFrame"/>
</frameset>
<noframes></noframes>
</html>