<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>左侧导航</title>
    <link href="/css/css.css" type="text/css" rel="stylesheet"/>
    <script type="text/javascript" src="/js/sdmenu.js"></script>
    <script type="text/javascript">
        // <![CDATA[
        var myMenu;
        window.onload = function () {
            myMenu = new SDMenu("my_menu");
            myMenu.init();
        };
        // ]]>
    </script>
    <style type="text/css">
        html {
            SCROLLBAR-FACE-COLOR: #538ec6;
            SCROLLBAR-HIGHLIGHT-COLOR: #dce5f0;
            SCROLLBAR-SHADOW-COLOR: #2c6daa;
            SCROLLBAR-3DLIGHT-COLOR: #dce5f0;
            SCROLLBAR-ARROW-COLOR: #2c6daa;
            SCROLLBAR-TRACK-COLOR: #dce5f0;
            SCROLLBAR-DARKSHADOW-COLOR: #dce5f0;
            overflow-x: hidden;
        }

        body {
            overflow-x:scroll;
            white-space:nowrap;
            background: url(/images/main/leftbg.jpg) left top repeat-y #f2f0f5;
            width: 194px;
        }
    </style>
</head>
<body onselectstart="return false;" ondragstart="return false;" oncontextmenu="return false;">
<div id="left-top">
    <div><img src="/images/main/member.gif" width="44" height="44" alt=""/></div>
    <span>用户：admin<br/>角色：超级管理员</span>
</div>
<div style="float: left;" id="my_menu" class="sdmenu">
    <div class="collapsed">
        <span>股票管理</span>
        <a href="main.html" target="mainFrame" onFocus="this.blur()">后台首页</a>
        <a href="../stock/view/recmd/0" target="mainFrame" onFocus="this.blur()">每日推荐</a>
        <a href="../stock/view/check_result" target="mainFrame" onFocus="this.blur()">刷新推荐</a>
        <a href="../stock/view/updateShelf" target="mainFrame" onFocus="this.blur()">自选股票</a>
    </div>
    <div>
        <span>股票监控</span>
        <a href="../monitor/start" target="mainFrame" onFocus="this.blur()">开启k5监控</a>
        <a href="../monitor/stop" target="mainFrame" onFocus="this.blur()">关闭k5监控</a>
        <a href="../monitor/startOne" target="mainFrame" onFocus="this.blur()">开启k1监控</a>
        <a href="../monitor/stopOne" target="mainFrame" onFocus="this.blur()">关闭k1监控</a>
    </div>
    <div>
        <span>筛股策略</span>
        <a href="../stock/view/recmd/16" target="mainFrame" th:attr="title=${strategyEnumMap[16]}" onFocus="this.blur()">天鹅拳形态（龙抬头）</a>
        <a href="../stock/view/recmd/15" target="mainFrame" th:attr="title=${strategyEnumMap[15]}" onFocus="this.blur()">所有策略重合大于3</a>
        <a href="../stock/view/recmd/1" target="mainFrame" th:attr="title=${strategyEnumMap[1]}" onFocus="this.blur()">近60kdj金叉小6</a>
        <a href="../stock/view/recmd/2" target="mainFrame" th:attr="title=${strategyEnumMap[2]}" onFocus="this.blur()">kdj差值小于5</a>
        <a href="../stock/view/recmd/3" target="mainFrame" th:attr="title=${strategyEnumMap[3]}" onFocus="this.blur()">kdj差值小于10</a>
        <a href="../stock/view/recmd/4" target="mainFrame" th:attr="title=${strategyEnumMap[4]}" onFocus="this.blur()">kdj差值在5-10之间</a>
        <a href="../stock/view/recmd/5" target="mainFrame" th:attr="title=${strategyEnumMap[5]}" onFocus="this.blur()">kdj日周月上翘</a>
        <a href="../stock/view/recmd/6" target="mainFrame" th:attr="title=${strategyEnumMap[6]}" onFocus="this.blur()">kdj比>1kdiff大5换大0.9</a>
        <a href="../stock/view/recmd/7" target="mainFrame" th:attr="title=${strategyEnumMap[7]}" onFocus="this.blur()">kdj差大于5换大于1</a>
        <a href="../stock/view/recmd/8" target="mainFrame" th:attr="title=${strategyEnumMap[8]}" onFocus="this.blur()">金叉周翘macd不限换大0.9</a>
        <a href="../stock/view/recmd/9" target="mainFrame" th:attr="title=${strategyEnumMap[9]}" onFocus="this.blur()">金叉周翘量大1.1外大内主正换大0.9</a>
        <a href="../stock/view/recmd/10" target="mainFrame" th:attr="title=${strategyEnumMap[10]}" onFocus="this.blur()">金叉周翘量大1.1外大盘换大0.9</a>
        <a href="../stock/view/recmd/11" target="mainFrame" th:attr="title=${strategyEnumMap[11]}" onFocus="this.blur()">kdj差值小于5,换手率大于0.9</a>
        <a href="../stock/view/recmd/12" target="mainFrame" th:attr="title=${strategyEnumMap[12]}" onFocus="this.blur()">macd在-0.02至+0.02之间</a>
        <a href="../stock/view/recmd/13" target="mainFrame" th:attr="title=${strategyEnumMap[13]}" onFocus="this.blur()">十字架结构</a>
        <a href="../stock/view/recmd/14" target="mainFrame" th:attr="title=${strategyEnumMap[14]}" onFocus="this.blur()">T型结构</a>
    </div>
</div>
</body>
</html>