<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>自选股票</title>
    <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/js/message-box.js"></script>
    <link href="/css/css.css" type="text/css" rel="stylesheet"/>
    <script type="text/javascript" src="/js/base.js"></script>
    <script type="text/javascript" src="/js/ligerDialog.js"></script>
    <link href="/css/ligerui-all.css" rel="stylesheet" type="text/css"/>
    <style type="text/css">
        * {
            margin: 0;
            padding: 0;
            list-style: none;
            font-size: 14px;
        }

        body {
            text-align: center;
        }

        table {
            border-collapse: separate;
            /* margin: 0 auto;*/
            text-align: center;
        }

        table tr {
            word-break: keep-all; /*缩小不换行*/
        }

        table td, table th {
            border: 1px solid #cad9ea;
            color: black;
            height: 30px;
        }

        table thead th {
            background-color: #CCE8EB;
            width: 100%;
        }

        table tr:nth-child(odd) {
            background: #fff;
        }

        table tr:nth-child(even) {
            background: #F5FAFA;
        }

        .divOver {
            background: burlywood !important;
            border: solid 1px #d2dce3 !important;
        }

        #mouseover-showchart {
            float: left;
            display: none;
            position: fixed;
            background: lightgray;
            z-index: 99;
        }
    </style>
</head>
<body>
<div id="mouseover-showchart"></div>
<div id="container">
    <br/>
    <div>
        <ol style="list-style: none;display: block;float: none;-webkit-padding-start: 5px;">
            <li style="margin-right: 10px;float:left;">指数：</li>
            <li th:each="data: ${bigDataList}" style="margin-right: 10px;float:left;">
                <span th:attr="data-code=${#strings.toLowerCase(data.stockCode)}" class="show_time" th:text="@{${data.stockName}+':'+ ${#numbers.formatDecimal(data.netChangeRatio, 1, 2)+'%'}}" th:style="'color:'+${data.netChangeRatio>0?'red':'green'}"></span>
                <span th:attr="data-code=${#strings.toLowerCase(data.stockCode)}" class="show_kline" th:text="k" th:style="'color:'+${data.netChangeRatio>0?'red':'green'}"></span>
            </li>
        </ol>
    </div>
    <br/>
    <br/>
    <table>
        <tr>
            <th>股票代码</th>
            <th>股票名称</th>
            <th>行业</th>
            <th>地区</th>
            <th>当日涨幅</th>
            <th>累计涨幅</th>
            <th>K线</th>
            <th>操作</th>
            <th>关注价</th>
            <th>当前价</th>
            <th>成本价</th>
            <th>入选理由</th>
        </tr>
        <tr th:each="stock: ${stockOnShelves}" th:attr="data-code=${#strings.toLowerCase(stock.stockCode)}">
            <td th:text="${stock.stockCode}" th:attr="data-code=${#strings.toLowerCase(stock.stockCode)}" class="show_time"></td>
            <td th:text="${stock.stockName}" th:attr="data-code=${#strings.toLowerCase(stock.stockCode)}" class="show_kline" style="font-weight:bold !important;"></td>
            <td><a target="_self" th:href="@{'/stock/view/related/'+${stock.stockCode}}"> <span th:text="${stock.industry}"></span></a></td>
            <td><span th:text="${stock.district}"></span></td>
            <td th:text="${stock.netRatio!=null?#numbers.formatDecimal(stock.netRatio, 1, 2)+'%':'未更新'}"
                th:style="'color:'+${stock.netRatio>0?'red':'green'}"></td>
            <td th:text="${#numbers.formatDecimal((stock.currentPrice - stock.focusPrice) * 100/stock.focusPrice,1,2)+'%'}"
                th:style="'color:'+${stock.currentPrice>stock.focusPrice?'red':'green'}"></td>
            <td><a th:href="@{'http://quote.eastmoney.com/'+${stock.stockCode}+'.html'}">K线</a></td>
            <td>
                <button class="del-choose">删除</button>
                <button th:if="${stock.status==0}" class="update_btn" data-status="1">置顶</button>
                <button th:if="${stock.status==1}" class="update_btn" data-status="0"><img src="/images/common/top.gif"/></button>
            </td>
            <td th:text="${stock.focusPrice}"></td>
            <td th:text="${stock.currentPrice}"></td>
            <td class="alter_cost_price" th:attr="data-code=${#strings.toLowerCase(stock.stockCode)}" th:text="${stock.costPrice}" th:style="'color:'+${stock.costPrice>stock.currentPrice?'red':'green'}"></td>
            <td class="comment alter-comment" th:attr="data-code=${#strings.toLowerCase(stock.stockCode)}" th:text="${stock.reason}"></td>
        </tr>
    </table>
    <div style="height: 300px;"></div>
</div>
<script type="text/javascript" src="/js/xui.js"></script>
<script language="javascript">
    $(function () {
        //当鼠标滑入时将div的class换成divOver
        $('tr').hover(function () {
                $(this).addClass('divOver');
            }, function () {
                //鼠标离开时移除divOver样式
                $(this).removeClass('divOver');
            }
        );
        $(".del-choose").click(function () {
            var temp = $(this);
            $.ajax({
                url: "/stock/api/remove_choose",
                type: 'POST',
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                data: JSON.stringify({
                    "stockCode": $(this).parent().parent().find("td").first().html()
                }),
                success: function (result) {
                    if (result.errorNo == 0) {
                        temp.parent().parent().hide();
                    }
                }
            });
        });
        $(".alter-comment").click(function () {
            var temp = $(this);
            $.ligerDialog.prompt('提示内容', true, function (yes, value) {
                $.ajax({
                    url: "/stock/api/alter",
                    type: 'POST',
                    contentType: "application/json;charset=UTF-8",
                    dataType: "json",
                    data: JSON.stringify({
                        "stockCode": temp.parent().find("td").first().html(),
                        "reason": value
                    }),
                    success: function (result) {
                        if (result.errorNo == 0) {
                            $.ligerDialog.success("sucess");
                            temp.html(value);
                        } else {
                            $.ligerDialog.success(result.errorMsg);
                        }
                    }
                });
            });
        });
        $(".alter_cost_price").click(function () {
            var temp = $(this);
            $.ligerDialog.prompt('输入成本价', true, function (yes, value) {
                $.ajax({
                    url: "/stock/api/alter",
                    type: 'POST',
                    contentType: "application/json;charset=UTF-8",
                    dataType: "json",
                    data: JSON.stringify({
                        "stockCode": temp.parent().find("td").first().html(),
                        "costPrice": value
                    }),
                    success: function (result) {
                        if (result.errorNo == 0) {
                            $.ligerDialog.success("sucess");
                            temp.text(value);
                        } else {
                            $.ligerDialog.success(result.errorMsg);
                        }
                    }
                });
            });
        });
        $(".update_btn").on("click", function () {
            var temp = $(this);
            $.ajax({
                url: "/stock/api/update_monitor",
                type: 'POST',
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                data: JSON.stringify({
                    "stockCode": $(this).parent().parent().find("td").first().html(),
                    "status": $(this).data("status")
                }),
                success: function () {
                    if (temp.data("status") == "1") {
                        temp.data("status", "0");
                        temp.text("取消");
                        $.MsgBox.Alert("消息", "已置顶!");
                    } else {
                        temp.data("status", "1");
                        temp.text("置顶");
                        $.MsgBox.Alert("消息", "已取消!");
                    }
                }
            });
        });
    });
</script>
</body>
</html>