<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.taylor.dao.RecmdStockDao">
    <resultMap id="BaseResultMap" type="com.taylor.entity.RecmdStock">
        <result column="id" property="id" jdbcType="BIGINT"/>
        <result column="stock_code" property="stockCode" jdbcType="VARCHAR"/>
        <result column="macd" property="macd" jdbcType="DOUBLE"/>
        <result column="kdj" property="kdj" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        t.id,
        t.stock_code,
        t.macd,
        t.kdj,
        t.create_time
    </sql>
    <select id="findByCondition" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM recmd_stock t
        <where>
            <if test="query.id !=null">
                and id=#{query.id,jdbcType=BIGINT}
            </if>
            <if test="query.stockCode !=null">
                and stockCode=#{query.stockCode,jdbcType=VARCHAR}
            </if>
            <if test="query.macd !=null">
                and macd=#{query.macd,jdbcType=DOUBLE}
            </if>
            <if test="query.kdj !=null">
                and kdj=#{query.kdj,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
    <insert id="save" keyProperty="entity.id" keyColumn="id" useGeneratedKeys="true">
        INSERT INTO recmd_stock(stock_code,macd,kdj,create_time)
        VALUES (
        #{entity.stockCode,jdbcType=VARCHAR},
        #{entity.macd,jdbcType=DOUBLE},
        #{entity.kdj,jdbcType=VARCHAR},
        NOW()
        )
    </insert>

    <update id="update">
        UPDATE recmd_stock
        SET
        stock_code=#{entity.stockCode,jdbcType=VARCHAR}
        macd=#{entity.macd,jdbcType=DOUBLE}
        WHERE id = #{entity.id,jdbcType=BIGINT}
    </update>

    <select id="getByPrimaryKey" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM recmd_stock t
        WHERE t.id = #{id,jdbcType=BIGINT}
    </select>

    <select id="get" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM recmd_stock t
        WHERE id = #{entity.id,jdbcType=BIGINT}
    </select>

    <delete id="delByPrimaryKey">
        DELETE FROM recmd_stock
        WHERE id = #{id ,jdbcType=BIGINT}
    </delete>

    <delete id="del">
        DELETE FROM recmd_stock
        WHERE id = #{entity.id,jdbcType=BIGINT}
    </delete>
</mapper>
