<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.taylor.dao.RecmdStockWithRatioDao">
    <resultMap id="BaseResultMap" type="com.taylor.entity.RecmdWithRatioStock">
        <result column="id" property="id" jdbcType="BIGINT"/>
        <result column="stock_code" property="stockCode" jdbcType="VARCHAR"/>
        <result column="stock_name" property="stockName" jdbcType="VARCHAR"/>
        <result column="turnover_ratio" property="turnoverRatio" jdbcType="DOUBLE"/>
        <result column="recmd_operate" property="recmdOperate" jdbcType="VARCHAR"/>
        <result column="strategy" property="strategy" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        t.id,
        t.stock_code,
        t.stock_name,
        t.turnover_ratio,
        t.recmd_operate,
        t.strategy
    </sql>
    <select id="findByCondition" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM recmd_stock_with_ratio t
        <where>
            <if test="query.id !=null">
                and id=#{query.id,jdbcType=BIGINT}
            </if>
            <if test="query.stockCode !=null">
                and stockCode=#{query.stockCode,jdbcType=VARCHAR}
            </if>
            <if test="query.stockName !=null">
                and stockName=#{query.stockName,jdbcType=VARCHAR}
            </if>
            <if test="query.turnoverRatio !=null">
                and turnover_ratio=#{query.turnoveRatio,jdbcType=DOUBLE}
            </if>
            <if test="query.recmdOperate !=null">
                and recmd_operate=#{query.recmdOperate,jdbcType=VARCHAR}
            </if>
            <if test="query.strategy !=null">
                and strategy=#{query.strategy,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
    <insert id="save" keyProperty="entity.id" keyColumn="id" useGeneratedKeys="true">
        INSERT INTO recmd_stock_with_ratio(stock_code,stock_name,turnover_ratio,recmd_operate,strategy)
        VALUES (
        #{entity.stockCode,jdbcType=VARCHAR},
        #{entity.stockName,jdbcType=VARCHAR},
        #{entity.turnoverRatio,jdbcType=DOUBLE},
        #{entity.recmdOperate,jdbcType=VARCHAR},
        #{entity.strategy,jdbcType=VARCHAR}
        )
    </insert>

    <select id="getByPrimaryKey" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM recmd_stock_with_ratio t
        WHERE t.id = #{id,jdbcType=BIGINT}
    </select>

    <select id="get" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM recmd_stock_with_ratio t
        WHERE id = #{entity.id,jdbcType=BIGINT}
    </select>

    <delete id="delByPrimaryKey">
        DELETE FROM recmd_stock_with_ratio
        WHERE id = #{id ,jdbcType=BIGINT}
    </delete>

    <delete id="del">
        DELETE FROM recmd_stock_with_ratio
        WHERE 1=1 or strategy=null
        <if test="entity.strategy!=null">
            and strategy = #{entity.strategy,jdbcType=VARCHAR}
        </if>
    </delete>
</mapper>
